_yardoc
.bundle
.config
.idea
.rbx
.ruby-version
.rvmrc
.yardoc
*.gem
*.iml
*.rbc
coverage
doc
doc/
Gemfile*.lock
gemfiles/*lock
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
