# vim: ft=yaml

name: test

on: push

jobs:
  rspec:
    name: "Ruby ${{ matrix.ruby }} / Rails ${{ matrix.rails }}"
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.4", "3.3", "3.2", "3.1"]
        rails: ["8.0", "7.2", "7.1", "7.0"]
        exclude:
          - ruby: "3.1"
            rails: "8.0"
          - ruby: "3.4"
            rails: "7.0"
          - ruby: "3.4"
            rails: "7.1"

    env:
      BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.rails }}.gemfile

    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: True

      - run: |
          bundle exec rspec --color --format documentation

      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  rubocop:
    name: rubocop
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4.7"
          bundler-cache: True
        env:
          BUNDLE_JOBS: 4
          BUNDLE_RETRY: 3

      - run: bundle exec rubocop --parallel --color
